.mydot {
	float: right;
}

.ques {
	font-weight: bold;
	float: left;
}

.form-item {
	float: left;
	width: 400px;
}

#form-items {
	width: 850px;
	padding: 100px;
	margin-top: 100px;
	margin-left: 425px;
	font-size: 25px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 10px 10px 20px black;
}



#form-input {
	padding: 5px;
	text-align: center;
	font-size: 25px;
	width: 15rem;
	border-style: solid;
	border-radius: 20px;
	height: 20px;
	float: none;
}

.input-div {
	margin-left: 600px;
}

#h-1 {
	color: white;
	margin: 0px;
	font-size: 65px;
	font-family: 'Fredoka One', cursive;
	text-align: center;
}

#form-submit {
	font-size: 30px;
	margin-left: 325px;
	border-radius: 15px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	color: black;
	cursor: pointer;
}
#form-submit:hover{
	color: grey;
}

body {
	background-image:url('images/img-1.jfif');
	background-repeat: no-repeat;
	background-size: cover;
	
}
